<% include ./partials/header %>
<form action="/register" method="POST">
    <input name="username" placeholder="name" type="text"></input>
    <input type="password" placeholder="password" name="password"></input>
    <input type="submit" value="SignUp!"></input>
</form>
<% include ./partials/footer %>