<% include partials/header %>

<h1>This is Landing page</h1>
<h3>Welcome to Yelp Camp - Campgrounds</h3>

<a href="/campgrounds">View all Campgrounds</a>
<a href="/campgrounds/new">Add New Campground</a>

<% include partials/footer %>